.rodape {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100vw; /* Garante que ocupe 100% da tela */
    /* height: auto; */
    background-color: var(--cor-bg-itens);
    padding: 8px 14px;
    z-index: 1000;
    overflow: hidden; 
}


.rodape__lista {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: auto;
}

/* Media Query para telas maiores que mobile. O Rodapé-Menu vai para o lado esquerdo */

/* Passando da largura mínima tolerável de 768px... */
@media only screen and (min-width: 768px) {

    .rodape {

        position: fixed;
        top: 0; /* Em vez de bottom, movemos para cima */
        left: 0;
        width: 80px;
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 1em 0;
        box-shadow: 4px 0px 6px rgba(0, 0, 0, 0.1);
    } 

    .rodape:before {
        content: "";
        display: block;
        height: 0;
    }

    .rodape__lista {
        display: flex; 
        flex-direction: column; 
        justify-content: center; 
        align-items: center;
        gap: 2em; 
        width: 100%; 
        height: 100%; 
        padding: 0;
        margin: 0;
        list-style: none; 
    }

    .rodape__item {
        width: 100%; 
        text-align: center;
        
    }

    .rodape__link img {
        
        width: 32px; 
        height: 32px;
    }
}