@import url(../styles/cabecalho.css);
@import url(../styles/menu.css);
@import url(../styles/consultas.css);

:root {
    
    --fonte-principal: "Montserrat", serif;

    --cor-bg: #e2e0e7;
    --cor-bg-itens: #FFFFFF;
    --cor-destaque-botao: #FFB050;
    --cor-fonte-destaque: #464646;
    --cor-fonte-secundaria: #A3A3A3;
    --cor-borda-botao: #ECECEC;
    --cor-botao-endereco: #4894FF;

}

body {
    background-color: var(--cor-bg);
}

.botao-flutuante {
    position: fixed;
    bottom: 10em; /* Coloca o botão flutuante acima do menu */
    right: 1em;   /* Posiciona o botão flutuante no lado direito */
    height: 3.5em; /* altura do botão */
    border: none; /*retira a borda do button */
    background: none; /* retira o background do button */
    cursor: pointer;
    z-index: 100; /*Garante que fique acima de outros elementos */
}

.botao-flutuante img {
    width: 100%; /* Ajusta a imagem ao botão */
    height: auto;
}   

@media only screen and (min-width: 768px) {
    main {
        
        margin-left: 80px; /* Empurra o conteúdo para a direita, respeitando o menu */
        
    }

    
}

    
